canvas {
    border: 1px solid black; 
    position:absolute;
    left:0px;
    top:0px;
    background-color: transparent;
}

.visible-btn {
    float: right;
  }
  
#gridVisability, #undoButton , #redoButton{
  background-color: #292c31;
  border: 5px solid transparent;
  border-left: 6px solid transparent;
  transition: all .1s linear;
  cursor: pointer;
  font-size: 15px;
  user-select: none;
  color : whitesmoke;
  float: right;
}

#homeButton{
  background-color: #292c31;
  border: 5px solid transparent;
  border-left: 8px solid transparent;
  border-top: 19px solid transparent;
  transition: all .2s linear;
  font-size: 15px;
  user-select: none;
  color : whitesmoke;
  float: right;
  /* display: block; */
}

#homeButton:hover, #gridVisability:hover, 
#undoButton:hover, #redoButton:hover{
  color : white;
  opacity: 0.5;
}


#undoButton:disabled , #redoButton:disabled {
  color : white;
  opacity: 0.2;
  cursor : default;
}

.fa {
  float: right;
}
  